.brands-title {
    padding: 15px;
    padding-bottom: 32px;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7e7e82;
    background-image: linear-gradient(to right,#f8f8f8, #ffffff);
}

@media only screen and (min-width: 750px) {
    .brands-title {
        padding: 16px 0 16px 24px;
    }
}

@media only screen and (min-width: 1100px) {
    .brands-title {
        padding: 16px 0 40px 32px;
    }
}

@media only screen and (min-width: 1300px) {
    .brands-title {
        background-color: #f8f8f8;
    }
}