.hardware-swiper {
    margin-left: 15px;
    height: 200px;
}

.hardware-swiper__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 4%;
}

.hardware-swiper__text {
    font-family: 'TT Lakes Medium';
    align-self: flex-start;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-top: 16px;
    margin-left: 16px;
}

.hardware-swiper__button {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    // background: url('../img/button.svg') no-repeat;
    z-index: 2;
}

@media only screen and (min-width: 500px) {
    .hardware-swiper__wrapper {
        flex-wrap: wrap;
    }

    .hardware-swiper__slide {
        margin-right: 24px;
        width: 224px;
        margin-bottom: 16px;
    }

    .hardware-swiper__slide:nth-of-type(2n) {
        margin-right: 0;
    }

    .hardware-swiper {
        height: 176px;
        margin-left: 24px;
    }
}

@media only screen and (min-width: 750px) {
    .hardware-swiper__slide:nth-of-type(2n) {
        margin-right: 24px;
    }

    .hardware-swiper__slide:nth-of-type(3n) {
        margin-right: 0px;
    }

    .hardware-swiper__slide:nth-of-type(10), .swiper-slide:nth-of-type(11) {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 950px) {
    .hardware-swiper {
        margin-left: 32px;
    }

    .hardware-swiper__slide {
        width: 220px;
        margin-right: 20px;
    }

    .hardware-swiper__slide:nth-of-type(2n) {
        margin-right: 20px;
    }

    .hardware-swiper__slide:nth-of-type(3n) {
        margin-right: 20px;
    }

    .hardware-swiper__slide:nth-of-type(4n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .hardware-swiper__slide {
        width: 235px;
        margin-right: 32px;
    }

    .hardware-swiper__slide:nth-of-type(2n) {
        margin-right: 32px;
    }

    .hardware-swiper__slide:nth-of-type(3n) {
        margin-right: 32px;
    }
}