.header-nav {
    display: flex;
}

.header-nav__item {
    width: 40px;
    height: 100%;
    margin: 24px 8px;
    margin-top: auto;
}

.header-nav__div:first-child {
    margin-left: 16px;
}

.header-nav__div:last-child {
    margin-right: 16px;
}

.header-nav__divider {
    width: 2px;
    height: 32px;
    margin: 28px 8px;
}

.header-nav__div {
    display: flex;
}

.header-nav__button {
    background-color: #ffffff;
}

@media only screen and (min-width: 321px) {
    .header-nav__divider {
        margin: 28px 12px 0px 12px;
    }

    .header-nav__item {
        margin-bottom: 0px;
    }

    .header-nav {
        justify-content: space-between;
    }
}