.main-nav {
    margin-bottom: 24px;
}

.main-nav__list {
    margin: 0px 0px 0px 16px;
    padding: 0px;
    height: 40px;
    width: auto;
    display: flex;
    overflow: scroll;
    list-style-type: none;
}

.main-nav__button {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    padding: 8px 20px;
    text-wrap: nowrap;
}

.main-nav__links {
    color: #000000;
    text-decoration: none;
}

.main-nav__button:first-child {
    border: 2px solid #b8ffec;
    background-color: #ffffff;
}

@media only screen and (min-width: 321px) {
    .main-nav__list {
        margin-left: 24px;
    }

    .main-nav {
        margin-bottom: 32px;
    }
}

@media only screen and (min-width: 769px) {
    .main-nav {
        margin-bottom: 16px;
    }

    .main-nav__list {
        overflow: visible;
        flex-wrap: wrap;
        height: 80px;
    }
}