.active {
    height: 100%;
}

// .blur {
//     animation: blur 1s forwards;
// }

.unblur {
    animation: unblur__height 0s forwards 1s,
               unblur__opacity 1s forwards;
}

.getblur {
    animation: getblur 1s forwards;
}

.brands-active {
    animation: brands-reveal 1s forwards;
}

.brands-hide {
    animation: brands-hide 1s forwards;
}

.text-reveal {
    animation: text-reveal 0.2s forwards;
}

.text-hide {
    animation: text-hide 0.2s forwards;
}

.hardware-active {
    animation: hardware-reveal 1s forwards;
}

.hardware-hide {
    animation: hardware-hide 1s forwards;
}

@keyframes unblur__height {
    to {height: 0;}
}

@keyframes unblur__opacity {
    from {opacity: 0.9;}
    to {opacity: 0;}
}

@keyframes getblur {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

@keyframes brands-reveal {
    from {height: 176px;}
    to {height: 530px;}
}

@keyframes brands-hide {
    from {height: 530px;}
    to {height: 176px;}
}

@keyframes text-reveal {
    from {height: 0%; font-size: 0px; opacity: 0;}
    to {height: 30%; font-size: 13px; opacity: 1;}
}

@keyframes text-hide {
    from {height: 30%; font-size: 13px; opacity: 1;}
    to {height: 0%; font-size: 0px; opacity: 0;}
}

@keyframes hardware-reveal {
    from {height: 176px;}
    to {height: 870px;}
}

@keyframes hardware-hide {
    from {height: 870px;}
    to {height: 176px;}
}

@media only screen and (min-width: 750px) {
    @keyframes brands-reveal {
        from {height: 176px;}
        to {height: 340px;}
    }
    
    @keyframes brands-hide {
        from {height: 340px;}
        to {height: 176px;}
    }

    @keyframes hardware-reveal {
        from {height: 176px;}
        to {height: 530px;}
    }
    
    @keyframes hardware-hide {
        from {height: 530px;}
        to {height: 176px;}
    }
}

@media only screen and (min-width: 980px) {
    @keyframes brands-reveal {
        from {height: 176px;}
        to {height: 268px;}
    }
    
    @keyframes brands-hide {
        from {height: 268px;}
        to {height: 176px;}
    }
}