.hide {
  display: none;
}

.tablet {
  display: none;
}

.laptop {
  display: none;
}

@media only screen and (min-width: 520px) {
  .tablet {
      display: block;
  }
}

@media only screen and (min-width: 769px) {
  .laptop {
    display: block;
  }
}